.cabecalho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: none;
    box-shadow: .1px .1px 1px rgba(0, 0, 0, 0.234);
}